<article class="listing-item" style="background-image: url('<%= post['listing-image'] %>')">
  <a href="<%- config.root %><%- post.path %>" class="listing-header" rel="bookmark">
    <h2 class="listing-title">
      <span class="entry-title"><%= post.title %></span><br />
      <time datetime="<%= date_xml(post.date) %>" class="listing-date entry-date published dt-published" pubdate>
        <%= date(post.date, 'MMM YYYY') %>
      </time>
    </h2>
  </a>
</article>
