<%- partial('post/nav', {keys: true, position: 'top'}) %>
<article class="article wrapper h-entry" role="main">
  <header class="article-header">
    <h1 class="main-content-title single-title entry-title">
      <%= post.title %>
    </h1>
    <div class="meta" role="contentinfo">
      <%- partial('post/published') %>
    </div>
  </header>
  <%- partial('post/pages', {pageClass: 'pages-top'}) %>
  <section class="single-entry-content entry-content e-content">
    <% if (post.subtitle) { %>
      <header>
        <h1 class="single-entry-subtitle"><%= post.subtitle %></h1>
      </header>
    <% } %>
    <%- post.content %>
  </section>
  <%- partial('post/pages', {pageClass: 'pages-bottom'}) %>
  <%- partial('post/article-footer') %>
</article>
