<!doctype html>
<html lang="en" id="sam-and-paul-com">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  <div class="blurred-background" style="background-image: url('<%= backgroundImage(page) %>');"></div>
  <%
   wrapperClass = "hfeed";
   if (is_home()) {
     wrapperClass += " home";
   }

   if (is_category()) {
     wrapperClass += " category-" + page.category;
   }
  %>
  <div class="<%= wrapperClass %>">
    <%- partial('_partial/header') %>
    <%- body %>
  </div>
  <% if (page.footer !== false) { %>
    <%- partial('_partial/footer') %>
  <% } %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/js/jquery-3.1.1.min.js"><\/script>')</script>
  <script src="/js/mousetrap.min.js"></script>
  <script src="/js/master.js?<%= config.site_build %>"></script>
  <% if (config.site_build !== 'local') { %>
    <script>var _gaq=[['_setAccount','UA-59763-16'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
  <% } %>
</body>
</html>
