<!DOCTYPE html>
<html lang="en" id="paulrhayes-com" class="no-js">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  <% background = typeof page.background === "undefined" ? '/images/backgrounds/borneo-007.jpg' : page.background %>
  <div class="blurred-background" style="background-image: url('<%= background %>');">
  </div>
  <%
   wrapperClass = "page-wrapper hfeed";
   if (is_home()) {
     wrapperClass += " home";
   }

   if (is_category()) {
     wrapperClass += " category-" + page.category;
   }
  %>
  <div class="<%= wrapperClass %>">
    <%- partial('_partial/header') %>
    <%- body %>
  </div>
  <%- partial('_partial/footer') %>
  <script>var _gaq=[['_setAccount','UA-59763-16'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
</body>
</html>
