<%
  var next = post.next,
      prev = post.prev;

  while (prev && (prev.page > 1 || post.title == prev.title)) {
    prev = prev.prev || null;
  }

  while (next && (next.page > 1 || post.title == next.title)) {
    next = next.next || null;
  }
%>
<% if (prev || next) { %>
  <nav class="next-prev-post <% if (position) { %>next-prev-post-<%= position %><% } %>">
    <% if (next) { %>
      <a href="<%- config.root %><%- next.path %>" title="<%= next.title %>" rel="prev"<% if (keys) { %> data-key="left"<% } %>>
        <span class="post-nav-arrow">&larr;</span> <span class="post-nav-title"><%= next.title %></span></a>
    <% } %>
    <% if (prev && next) { %><span class="post-nav-divider"> &middot; </span><% } %>
    <% if (prev) { %>
      <a href="<%- config.root %><%- prev.path %>" title="<%= prev.title %>" rel="next" <% if (keys) { %> data-key="right"<% } %>>
        <span class="post-nav-title"><%= prev.title %></span> <span class="post-nav-arrow">&rarr;</span></a>
    <% } %>
  </nav>
<% } %>
